body {
    background-color: black;
    display: flex;
}

header {
    & nav {
        & ul {
            & il {
                & a {
                    color: dodgerblue;
                    text-decoration: none;
                }
            }
        }
    }
}